<p id="notice"><%= notice %></p>

<h1>Llaves</h1>

<table>
  <thead>
    <tr>
      <th>Torneo</th>
      <th>Etapa</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @llaves.each do |llafe| %>
      <tr>
        <td><%= llafe.torneo_id %></td>
        <td><%= llafe.etapa %></td>
        <td><%= llafe.numero %></td>
        <td><%= link_to 'Show', llafe %></td>
        <td><%= link_to 'Edit', edit_llafe_path(llafe) %></td>
        <td><%= link_to 'Destroy', llafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Llafe', new_llafe_path %>
