<p id="notice"><%= notice %></p>

<p>
  <strong>Etapa:</strong>
  <%= @llafe.etapa %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @llafe.numero %>
</p>

<%= link_to 'Edit', edit_llafe_path(@llafe) %> |
<%= link_to 'Back', llaves_path %>
