<p id="notice"><%= notice %></p>

<h1>Cuadro Jugadors</h1>

<table>
  <thead>
    <tr>
      <th>Cuadro</th>
      <th>Jugador</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuadro_jugadors.each do |cuadro_jugador| %>
      <tr>
        <td><%= cuadro_jugador.cuadro_id.to_s+" "+cuadro_jugador.cuadro.etapa %></td>
        <td><%= cuadro_jugador.jugador.numero.to_s+" "+ cuadro_jugador.jugador.nombre %></td>
        <td><%= cuadro_jugador.numero %></td>
        <td><%= link_to 'Show', cuadro_jugador %></td>
        <td><%= link_to 'Edit', edit_cuadro_jugador_path(cuadro_jugador) %></td>
        <td><%= link_to 'Destroy', cuadro_jugador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuadro Jugador', new_cuadro_jugador_path %>
