<%= form_with(model: [@torneo,categorium], local: true) do |form| %>
  <% if categorium.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(categorium.errors.count, "error", plural: "errores") %> prohibieron que esta categoría se guarde:</h2>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
      <ul>
        <% categorium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "Seleccione el tipo de torneo" %>
    <%= form.select :tipo, options_for_select([['Cuadro de Avance','cuadroAvance'],['Round Robin','roundRobin']]), id: "tipoTorneo", class: "form-control" %>
  </div>

  <div class="field form-cuadro-avance">
    <%= form.label :numero_jugadores %>
    <%= form.number_field :numero_jugadores, class: "form-control" %>
  </div>

  <div class="field form-round-robin">
    <%= form.label :numero_grupos %>
    <%= form.number_field :numero_grupos, class: "form-control" %>
  </div>

  <div class="field form-round-robin">
    <%= form.label :numero_jugadores_grupo %>
    <%= form.number_field :numero_jugadores_grupo, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  function insertarFormulario2(){
    if ($("#categorium_tipo").val()=="cuadroAvance") {
      $(".form-round-robin").css("display","none")
      $(".form-cuadro-avance").css("display","block")
    }
    else if ($("#categorium_tipo").val()=="roundRobin"){
      $(".form-cuadro-avance").css("display","none")
      $(".form-round-robin").css("display","block")
    }
  }
  insertarFormulario2()
  $("#categorium_tipo").change(insertarFormulario2)
</script>