<%= bootstrap_form_with(model: jugador, local: true) do |form| %>
  <% if jugador.errors.any? %>
    <div id="error_explanation" class="aler alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
      <h2><%= pluralize(jugador.errors.count, "error", plural: "errores") %> prohibieron que este jugador se guarde:</h2>
      
      <ul>
        <% jugador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= form.number_field :numero %>
  </div>

  <div class="field">
    
    <%= form.text_field :nombre  %>
  </div>

  <div class="field">
    
    <%= form.number_field :ranking %>
  </div>

  <div class="field">
   
    <%= form.number_field :edad  %>
  </div>

  <div class="field">
    <%= form.text_field :club_asociacion  %>
  </div>

  <div class="field">
    <%= form.datetime_select :fecha_inscripcion %>
  </div>
<br>
  <div class="field">
  
    <%= form.text_field :status  %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", :class =>"btn btn-primary" %>
  </div>
<% end %>


<script type="text/javascript">
  
</script>