<p id="notice" class="alert alert-success"><span id ="alert"><%= notice %></span><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
  </button></p>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<p>
  <strong>Numero:</strong>
  <%= @jugador.numero %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @jugador.nombre %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @jugador.ranking %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @jugador.edad %>
</p>

<p>
  <strong>Club asociacion:</strong>
  <%= @jugador.club_asociacion %>
</p>

<p>
  <strong>Fecha inscripcion:</strong>
  <%= @jugador.fecha_inscripcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jugador.status %>
</p>
<br>
<%= link_to 'Editar', edit_jugador_path(@jugador), class: "btn btn-secondary" %> 
<%= link_to 'Atrás', jugadors_path, class: "btn btn-secondary" %>
</div>
</div>

<script type="text/javascript">
  if ($('#alert').is(':empty')) {
    $('#notice').css('display','none');
  }
</script>