<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nombre</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.numero %></td>
        <td><%= grupo.nombre %></td>
        <td><%= grupo.categorium_id %></td>
        <td><%= link_to 'Show', [@torneo,@categorium,grupo] %></td>
        <td><%= link_to 'Edit', edit_torneo_categorium_grupo_path(@torneo,@categorium,grupo) %></td>
        <td><%= link_to 'Destroy', [@torneo,@categorium,grupo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo', new_torneo_categorium_grupo_path %>
