<p id="notice" class="alert alert-success"><span id ="alert"><%= notice %></span><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
  </button></p>

<h1>Grupos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Número</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.numero %></td>
        <td><%= grupo.nombre %></td>
        <td><%= grupo.categorium_id %></td>
        <td><%= link_to 'Mostrar', [@torneo,@categorium,grupo] %></td>
        <td><%= link_to 'Editar', edit_torneo_categorium_grupo_path(@torneo,@categorium,grupo) %></td>
        <td><%= link_to 'Destruir', [@torneo,@categorium,grupo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Grupo', new_torneo_categorium_grupo_path, class: "btn btn-secondary" %>

<%= link_to 'Volver a Categoría', torneo_categoria_path(@torneo), class: "btn btn-primary" %>


<script type="text/javascript">
  if ($('#alert').is(':empty')) {
    $('#notice').css('display','none');
  }
</script>