<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @grupo.numero %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @grupo.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @grupo.categorium_id %>
</p>

<%= link_to 'Edit', edit_torneo_categorium_grupo_path(@torneo,@categorium,@grupo) %> |
<%= link_to 'Back', torneo_categorium_grupos_path(@torneo,@categorium) %>
