<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @grupo.numero %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @grupo.nombre %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @grupo.categorium_id %>
</p>
<br>
<%= link_to 'Editar', edit_torneo_categorium_grupo_path(@torneo,@categorium,@grupo), class: "btn btn-secondary" %> 
<%= link_to 'Atrás', torneo_categorium_grupos_path(@torneo,@categorium), class: "btn btn-secondary" %>
