<%= form_with(model: torneo, local: true) do |form| %>
  <% if torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torneo.errors.count, "error") %> prohibited this torneo from being saved:</h2>

      <ul>
        <% torneo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio %>
    <%= form.date_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin %>
    <%= form.date_select :fecha_fin %>
  </div>

  <div class="field">
    <%= form.label :hoja_calculo %>
    <%= form.file_field :hoja_calculo %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
