<%= form_with(model: torneo, local: true) do |form| %>
  <% if torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torneo.errors.count, "error") %> prohibited this torneo from being saved:</h2>

      <ul>
        <% torneo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio, style: "float:left;" %><br><br>
    <%= form.date_select :fecha_inicio, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']},{ :class => "form-control", style: "width: 10rem; float: left;"} %><br><br>
  </div>

  <div class="field">
    <%= form.label :fecha_fin, style: "float:left;" %><br><br>
    <%= form.date_select :fecha_fin, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']},{ :class => "form-control", style: "width: 10rem; float: left;"} %>
  </div>
  <br><br>
  <div class="field">
    <%= form.label :hoja_calculo %>
    <%= form.file_field :hoja_calculo, class: "form-control-file" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Aceptar", :class => "btn btn-primary" %>
  </div>
<% end %>
