<p id="notice" class="alert alert-success"><span id="alert"><%= notice %></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></p>

<p>
  <strong>Nombre:</strong>
  <%= @torneo.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @torneo.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @torneo.fecha_fin %>
</p>

<%= link_to 'Edit', edit_torneo_path(@torneo) %> |
<%= link_to 'Back', torneos_path %>

<script type="text/javascript">
  if ($('#alert').is(':empty')) {
    $('#notice').css('display','none');
  }
</script>