<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @torneo.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @torneo.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @torneo.fecha_fin %>
</p>

<%= link_to 'Edit', edit_torneo_path(@torneo) %> |
<%= link_to 'Back', torneos_path %>
