<p id="notice" class="alert alert-success"><span id ="alert"><%= notice %></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></p>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<p>
  <strong>Nombre:</strong>
  <%= @torneo.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @torneo.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @torneo.fecha_fin %>
</p>
<p>
  <strong>Número de canchas:</strong>
  <%= @torneo.numero_canchas %>
</p>
<br>
<%= link_to 'Editar', edit_torneo_path(@torneo), class: "btn btn-secondary" %> |
<%= link_to 'Atrás', torneos_path, class: "btn btn-secondary" %>
<%= link_to 'Categorías', torneo_categoria_path(@torneo), class: "btn btn-success" %>
</div>
</div>

<script type="text/javascript">
  if ($('#alert').is(':empty')) {
    $('#notice').css('display','none');
  }
</script>