<%= form_with(model: [@torneo,@categorium,cuadro], local: true) do |form| %>
  <% if cuadro.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
      <h2><%= pluralize(cuadro.errors.count, "error",plural: "errores") %> prohibieron que este cuadro se guarde:</h2>
      
      <ul>
        <% cuadro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :etapa %>
    <%= form.text_field :etapa, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", :class => "btn btn-primary" %>
  </div>
<% end %>
